<!-- <p>vehicles-variant works!</p> -->
<Vehicles-app></Vehicles-app>
<div class="list">
        <app-list-of-table [allTableData]="allTableData" [tableHeaderData]="displayedColumns" [pageTitle]="pageTitle" [entityType]="'vehicles varient'" (tableDeleteId)="delete($event)" (tableEditId)="edit($event)"></app-list-of-table>
        <a class="addList" [routerLink]="['/dashboard/vehicles/vehiclesVariant/variantEntity']">
            <img src="assets/images/feather-plus.svg" />
        </a>
    </div>



