<div class="delete_confermation" *ngIf="deletePopup">
    <p>Are you want to delete</p>
    <a (click)="yes(true)">Yes</a>
    <a (click)="yes(false)">No</a>
</div>

<div class="header">
    <h3>{{pageTitle}}</h3>
    <div class="header-right">
        <form class="example-form">
            <mat-form-field appearance="outline" class="search_list">
                <mat-label>Search for list</mat-label>
                <input matInput (input)="applyFilter($event.target.value)" placeholder="Search for owner list" #input>
                <a *ngIf="input.value" (click)="applyFilter(''); input.value = ''">
                    <mat-icon matSuffix>clear</mat-icon>
                </a>
            </mat-form-field>
        </form>
    </div>
</div>
<div class="custom-table withoutArrow">
    <mat-table mat-table matSort [dataSource]="licenceClassTable" multiTemplateDataRows>
        <ng-container [matColumnDef]="item.key" *ngFor="let item of tableHeaderData">
            <mat-header-cell mat-sort-header [disabled]="item.key ==='action' ? true : false" *matHeaderCellDef> {{item.label}} </mat-header-cell>
            <pre>{{item | json}}</pre>
            <ng-container *ngIf="item.key !== 'action'; else action">
                <mat-cell *matCellDef="let element">
                    <span *ngIf="item.key !== 'checkBox'" [innerHTML]="getSellData(element, item.key) | safeHtml"></span>                    
                    <mat-checkbox class="example-margin" *ngIf="item.key === 'checkBox'" (change)="selectEntity($event.checked, element.id)"></mat-checkbox>
                </mat-cell>
            </ng-container>
            <ng-template #action>
                <!-- <ng-template #actions> -->
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26.083" height="5.453" viewBox="0 0 26.083 5.453">
                            <g id="more" transform="matrix(0.017, 1, -1, 0.017, 274.359, -955.48)">
                                <circle id="Ellipse_2" data-name="Ellipse 2" cx="2.5" cy="2.5" r="2.5" transform="translate(951 265)" fill="#f48634" />
                                <circle id="Ellipse_3" data-name="Ellipse 3" cx="2.5" cy="2.5" r="2.5" transform="translate(951 275)" fill="#f48634" />
                                <circle id="Ellipse_4" data-name="Ellipse 4" cx="2.5" cy="2.5" r="2.5" transform="translate(951 286)" fill="#f48634" />
                            </g>
                        </svg>
                    </button>
                    <mat-menu #menu="matMenu" class="mat_menu">
                        <button mat-menu-item (click)="edit(element.id)">
                            <mat-icon><img src="assets/images/view.svg" alt=""></mat-icon>
                            Edit
                        </button>
                        <button mat-menu-item (click)="delete(element.id)">
                            <mat-icon><img src="assets/images/delete.svg" alt=""></mat-icon>Delete
                        </button>
                        <button mat-menu-item (click)="createBroker(element.userEntity.id)" *ngIf="entityType != 'broker' && entityType != 'vehicles' && entityType != 'vehicles type' && entityType != 'vehicles varient' && entityType != 'vehicles brand' && entityType != 'measurement-units-class' && entityType != 'licence-class'">
                            <mat-icon><img src="assets/images/view.svg" alt=""></mat-icon>
                            Create Broker
                        </button>
                        <button mat-menu-item (click)="createDriver(element.userEntity.id)" *ngIf="entityType != 'driver' && entityType != 'vehicles' && entityType != 'vehicles type' && entityType != 'vehicles varient' && entityType != 'vehicles brand' && entityType != 'broker' && entityType != 'measurement-units-class' && entityType != 'licence-class'">
                            <mat-icon><img src="assets/images/view.svg" alt=""></mat-icon>
                            Create Driver
                        </button>
                        <button mat-menu-item (click)="createOwner(element.userEntity.id)" *ngIf="entityType != 'owner' && entityType != 'vehicles' && entityType != 'vehicles type' && entityType != 'vehicles varient' && entityType != 'vehicles brand' && entityType != 'broker' && entityType != 'driver' && entityType != 'measurement-units-class' && entityType != 'licence-class'">
                            <mat-icon><img src="assets/images/view.svg" alt=""></mat-icon>
                            Create Owner
                        </button>
                    </mat-menu>
                </mat-cell>
                <!-- </ng-template> -->
            </ng-template>
            
        </ng-container>
        <ng-container *ngIf="expandRow" matColumnDef="expandedDetail">
            <mat-cell *matCellDef="let element" class="expand_row">
                <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <!-- <div class="example-element-description"> -->

                    <p><span>Number of Broker :</span> {{element?.brokers ? element?.brokers.length : 0}}</p>
                    <p><span>Number of Vehicle :</span> {{element?.vehicles ? element?.vehicles.length : 0}}</p>
                    <p style=""><span>Number of Driver :</span> {{element?.drivers ? element?.drivers.length : 0}}</p>
                    <a (click)="view(element.id)" mat-button class="view" *ngIf="btn_condition">View</a>
                    <!-- </div> -->
                </div>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <ng-container *ngIf="!expandRow; else expend">
            <mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"></mat-row>
        </ng-container>
        <ng-template #expend>
            <mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row" [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </mat-row>
            <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></mat-row>
        </ng-template>

    </mat-table>
    <ng-container *ngIf="(!licenceClassTable.data.length || !licenceClassTable.filteredData.length) && !loader">
        <div class="noDataFound"><img src="./assets/images/emptyiamge.png" /><br><p>No data found</p></div>
    </ng-container>
    <app-loader [paginationData]="pageSize" [columns]="columnData" *ngIf="loader"></app-loader>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements" (page)="onChangePage($event)">
    </mat-paginator>
</div>