<!-- <vendors-root></vendors-root> -->
<div class="delete_confermation" *ngIf="deletePopup">
        <p>Are you want to delete</p>
        <a (click)="yes(true)">Yes</a>
        <a (click)="yes(false)">No</a>
    </div>
<div class="loader" *ngIf="loader">
    <mat-spinner ></mat-spinner>
</div>
<div class="header_section">
    <h2 class="title">{{totalOwnerData?.name}} ({{totalOwnerData?.vendorCode}})</h2>
</div>
<mat-tab-group #tabGroup>
    <mat-tab label="Driver" >
        <div class="list">
                <a (click)="deleteList('Driver')" *ngIf="this.deleteArrayUserEntity.length > 0" class="delete_btn">Delete</a>
            <app-list-of-table [allTableData]="driverTableData" [pageSize]="pageSize" [isCallFromBackend]="true" [pageIndex]="pageIndex" [dataLength]="dataLength" (setpagination)="setPegination($event)" [tableHeaderData]="displayedColumns" [pageTitle]="'Driver'" (tableDeleteId)="delete($event)" (userEntityIdSendParent)="driveruserEntityDelete($event)" (search)="search($event)"></app-list-of-table>
        </div>
        <a class="addList" (click)="addDrivers()"><img src="assets/images/feather-plus.svg"/></a>
    </mat-tab>
    <mat-tab label="Broker">
        <div class="list">
                <app-list-of-table [allTableData]="brokerTableData" [pageSize]="pageSize" [isCallFromBackend]="true" [pageIndex]="pageIndex" [dataLength]="dataLength" (setpagination)="setPegination($event)" [tableHeaderData]="displayedColumnsBroker" [pageTitle]="'Broker'"  (tableDeleteId)="delete($event)"></app-list-of-table>
        </div>
    </mat-tab>
    <mat-tab label="Vehicles">
        <div class="list">
                <a (click)="deleteList('Vehicle')" *ngIf="this.deleteArrayUserEntity.length > 0" class="delete_btn">Delete</a>
                <app-list-of-table [allTableData]="vehiclesTableData" [pageSize]="pageSize" [isCallFromBackend]="true" [pageIndex]="pageIndex" [dataLength]="dataLength" (setpagination)="setPegination($event)" [tableHeaderData]="displayedColumnsVehicles" [pageTitle]="'Vehicles'" (tableDeleteId)="delete($event)" (userEntityIdSendParent)="vehiclesUserEntityDelete($event)" (search)="search($event)"></app-list-of-table>
        </div>
        <a class="addList" (click)="addVehicles()"><img src="assets/images/feather-plus.svg"/></a>
    </mat-tab>
  </mat-tab-group>
  <!-- <app-list-of-table [allTableData]="allTableData" [pageSize]="pageSize" [isCallFromBackend]="true" [pageIndex]="pageIndex" [dataLength]="dataLength" [entityType]="'owner'" (setpagination)="setPegination($event)" [tableHeaderData]="displayedColumns" [pageTitle]="pageTitle" [expandRow]="true"  (tableDeleteId)="delete($event)" (tableEditId)="edit($event)" (search)="search($event)"></app-list-of-table> -->
