<!-- <p>owner-vehicles works!</p> -->
<div class="loader" *ngIf="loader">
        <mat-spinner ></mat-spinner>
</div>
<div class="modal_body">
        <div class="header_left">
                <a (click)="closeDialog()"><img src="assets/images/arrow-left.svg"/></a>
        </div>
        <div class="list">
                <app-list-of-table *ngIf="data.type === 'Driver'" [allTableData]="allTableData" [tableHeaderData]="displayedColumnsDriver" [pageTitle]="pageTitle" [isCallFromBackend]="true" [pageIndex]="pageIndex" []="pageSize" [dataLength]="dataLength" [entityType]="'vehicles'" (setpagination)="setPagination($event)" (search)="search($event)" (userEntityIdSendParent)="driveruserEntityDelete($event)"></app-list-of-table>

                <app-list-of-table *ngIf="data.type === 'Vehicle'" [allTableData]="allTableData" [tableHeaderData]="displayedColumnsVehicles" [pageTitle]="pageTitle" [isCallFromBackend]="true" [pageIndex]="pageIndex" [pageSize]="pageSize" [dataLength]="dataLength" [entityType]="'vehicles'" (setpagination)="setPagination($event)" (search)="search($event)" (userEntityIdSendParent)="driveruserEntityDelete($event)"></app-list-of-table>
        
                <a (click)="submitData()" class="submit" mat-button *ngIf="allTableData?.length > 0">Submit</a>
        </div>
</div>
