<!-- <p>licence-class-list works!</p> -->
<!-- <app-loader></app-loader> -->

<div class="loader" *ngIf="loader">
    <mat-spinner></mat-spinner>
</div>
<master-app></master-app>
<div class="list">

    <app-list-of-table [allTableData]="allTableData" [tableHeaderData]="displayedColumns" [pageTitle]="pageTitle" [entityType]="'licence-class'" (tableDeleteId)="delete($event)" (tableEditId)="edit($event)"></app-list-of-table>

    <a class="addList" [routerLink]="['/dashboard/master/licenceClass/licenceClassEntity']">
        <img src="assets/images/feather-plus.svg" />
    </a>
</div>